
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center page-header">Welcome to the COVID-19 Pay Tracking Application - TEST</h2>

<div class="container-fluid">
    <div class="row">
        <h4 class="text-center">Please navigate to the 'HotLine Log' tab located in the above black banner to view the records</h4>
    </div>
    <div class="row">
        <p class="text-center"><br /><br />For all inquiries, please contact System Administrator </p>
    </div>
</div>


